<div class="col-md-6">
  <%= f.field_container :multi_coupon, class: ['checkbox'] do %>
    <%= f.label :multi_coupon do %>
      <%= f.check_box :multi_coupon %>
      <%= Spree.t(:multi_coupon, scope: :promotion_code) %>
    <% end %>
  <% end %>
</div>
