<% content_for :page_title do %>
  <%= Spree.t(:edit_code, scope: :promotion_code) %>
<% end %>

<%= form_for :code, url: admin_promotion_code_path(promotion_id: @promotion, id: @code), method: :patch do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </div>
<% end %>
